

.backgroundhero {
    background-image: url('../img/tebankocover2.png');
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: right 35% bottom 50%;
}

.bgform {
    background-image: url('../img/bgform2.jpg');
    background-size: cover;
}

.thinkingsection {
    background-image: url('../img/thinking.png');
    height: 50vh;
    background-size: cover;
    position: relative;
    background-position: right 35% bottom 20%;
}

.smallpadleft {
    padding-left: 10px;
}



h2 {
    font-weight: 700;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .heromobile {
      background-position: left 75% bottom 80%;
      
    }
    .mobilepadding {
        padding-top: 900px;
    }
    
    .mobilepaddingfirstsection {
        padding-top: 350px;
    }

    .mobilepadfooter 
    {
        padding-top: 30px;
    }

     h2 {
        text-align:left !important;
    }

    .mobiletext {
        text-align:left !important;

    }

    .mobilecardheight {
        height: 1000px;
    }

  }

